/***********/
/* Global  */
/***********/

:root {
    --background-color: lightyellow;
    --text-color: black;
    --link-color: brown;
    --error-color: red;
}

html, body {
    margin: 0;
    width: 100%;
    height: auto;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

main {
    margin-top: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 4vh;
    height: 100%;
}

main h1 {
    text-align: center;
    margin-bottom: 4vh;
}