/*****************/
/* Header styles */
/*****************/

header {
    --header-color: khaki;
    --link-color: brown;

    display: flex;

    min-height: 3rem;
    max-height: 5vh;

    font-size: large;
    background-color: var(--header-color);
}

nav {
    display: flex;
}

.right-navbar {
    margin-left: auto;
}

.user-menu {
    display: flex;
}

/***************/
/* Link styles */
/***************/

.header-link {
    display: inline-block;

    height: 100%;
    line-height: 3rem;
    padding: 0 2rem;

    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;

    position: relative;
}

.header-link::before {
    position: absolute;
    content: "";
    top: 20%;
    width: 0.08rem;
    height: 60%;
    background-color: lightyellow;
}

.left-navbar .header-link::before {
    right: 0;
}

.right-navbar .header-link::before {
    left: 0;
}

/***********************/
/* Underline animation */
/***********************/

.underline-animation .header-link {
    position: relative;
}

.underline-animation .header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    background: brown;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.underline-animation .header-link:hover::after {
    transform: scaleX(1);
}

/************************/
/* Background animation */
/************************/

.background-animation .header-link {
    transition: background-color 0.5s ease;
}

.background-animation .header-link:hover {
    background-color: gold;
}